<!DOCTYPE html>
<html>
<head>
	<title>TrackStar</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style3.css" />
</head>

<body>


{{{body}}}



<footer class="container-fluid text-left">
  <p>
  
    AN EASIER WAY TO KEEP ATHLETES INJURY-FREE 
    
    </p>
</footer>