<h1>TrackStar</h1>
      
      <p></p>
      <hr width="60%" style="border: 2px dashed #003366" color="#003366" size="8"  >
      <center>
      <h3>Muscle Performance Feedback System</h3>
      <p> 
      <button OnClick=" location.href='/users/register' " style="width:auto;">Sign Up</button>
      <button onclick=" location.href='/users/login' " style="width:auto;">Coach Log in</button>
      <button onclick=" location.href='/athletes/alogin' " style="width:auto;">Athlete Log in</button>
      <button OnClick=" location.href='/users/demo' " style="width:auto;">Demo</button>
      
      
      </p>
      </center>